  <div class="input-group">
    <label for="{{elementId}}-text" class="sr-only">Enter a task</label>
    {{todo-input
        for=(concat elementId '-text')
        value=(readonly value)
        onChange=(action (mut value))
    }}
  </div>
  <button type="submit" disabled={{disableSubmit}}>Add</button>
