$color-primary: #64C1F4;
$font: "Helvetica Neue", helvetica, sans;

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

body {
  font-family: $font;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.75rem;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 0;
  border: 0;
  font-family: $font;
  caret-color: $color-primary;

  &:focus {
    outline: none;
  }
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.modal {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 2rem;
  max-width: 320px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(black, 0.15);
  background: $color-primary;
  color: white;
  font-size: 1.125rem;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    box-shadow: 0 0 2rem rgba(black, 0.15);
    transform: scale(1.1);
  }
}

.todo__form {
  display: flex;
  justify-content: space-between;

  .input-group {
    flex: 1 1 auto;
  }

  button[type=submit] {
    padding-right: 0;
    background: none;
    border: 0;
    color: $color-primary;
    cursor: pointer;
    width: 2rem;
    margin-right: -2rem;
  }
}

.input-group {
  display: flex;
}

.todo__list {
  margin: 0 0 1rem;
  padding: 0;
  list-style-type: none;
}

.todo__item,
.todo__input {
  flex: 1 1 auto;
  padding: 0.25rem 0;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
  min-height: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.todo__item {
  text-overflow: ellipsis;
}

.todo__input {
  transition: border-color 0.2s ease-in-out;
  &:focus {
    border-color: $color-primary;
  }
}

.carousel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  cursor: pointer;
}

.all-done {
  font-size: 7rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}
