{{#if isEditing}}
  {{todo-input
      value=(readonly text)
      onChange=(action (mut text))
      onBlur=(action 'save')
      save=(action 'save')
      cancel=(action 'cancel')
  }}
{{else}}
  <div {{action 'edit'}} class="todo__item">{{text}}</div>
{{/if}}
