<div class="modal">
  <h1>What are you doing today?</h1>
  {{todo-form
      item=newTodo
      save=(action 'createTodo')
  }}
  {{todo-list
      items=todos
      save=(action 'saveTodo')
  }}
  {{#link-to 'focus' class="btn"}}Get Focussed{{/link-to}}
</div>
